@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Welcome to my application ()</h1>
=======
    <h1 class="display-4">Welcome to home page - test</h1>
>>>>>>> c47a2d435c01b3174a75d6533aaba777dbf2ab4b
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
